
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

body{font-family: "Comic Neue", cursive;
color: #000000;}

main{background-color: #e6e6e6;
margin: 1rem;
padding: 1rem;
display: flex;
flex-direction: column;
align-items: center;}

h1,h2,h3{font-family: "Indie Flower", cursive;}

@media (min-width:450px){

h4{color: #ffdf6a;
margin:0rem}

h3{color: #fbb03b;
font-size:24pt;
text-align: center;
margin: 0rem;}

header>img{width: 60px;}

header{display: flex;
flex-direction: column;
align-items: center;
padding: 1rem;}

.title>h2{font-family: "Indie Flower", cursive;
font-size: 28pt;
color: #79AEDC;
text-align: center;
background-color: #ffdf6a;
margin:0;
padding:10px 30px;
max-width: 300px;
width: auto;}

nav{display: flex;
justify-content: center;
flex-wrap: wrap;
gap: .2rem;}

header>nav>a{background-color: #fbb03b;
color: #000000;
text-decoration: none;
min-width: 50px;
padding: .5rem .5rem;
font-family: "Indie Flower", cursive;
font-size: 24pt;
text-align: center;
display: flex;}

.title{display: flex;
align-items: center;
justify-content: center;
gap: 10px;
width: 100%;
margin:20px 0}

main>img{max-width: 90%;
padding:1rem;
display: block;}

.quote{width: 100%;
color: #fbb03b;
font-weight: 600;
background-color: transparent;
margin: 0rem;
text-align: center;}

.indextable{display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
gap: .5rem;
padding: 1rem;}

.locations, .hours{background-color: #ffdf6a;
text-align: center;}

.locations>p, .hours>p{background-color: transparent;
font-size: 14pt;}

.indextable>h2{font-size: 24pt;}

.paragraph{background-color: #79AEDC;
padding: 1rem;
margin-top: 1rem;
margin-bottom: 1rem;
width: 80%;}

.paragraph>h4{font-weight: 600;
padding: 0rem;
font-size: 14pt;}

#cowlogo{width:40%;
display: block;}

footer{background-color: #79AEDC;
display: flex;
justify-content: space-around;
padding: .2rem;}

footer>a{text-decoration: none;
color: #ffdf6a;
font-size: 18pt;
font-family: "Indie Flower", cursive;
}

.comparison{display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
gap: .5rem;
padding: 1rem;}

.CTR, .corp{background-color:#79AEDC;
text-align: center;
padding:20px;
padding-bottom:0px;
padding-left:0px;}

.CTR>h4, .corp>h4{font-size: 16pt;
padding: 0rem;}

.contactform{width: 70%;
margin: 2rem auto;
padding: 1rem;
background-color: #ffdf6a;
display: flex;
flex-direction: column;
gap: 1rem;
font-family: "Indie Flower", cursive;}

.formgroup{display: flex;
flex-direction: column;}

.contactform>label{font-size: 14pt;
margin-bottom: .2rem;}

.contactform>input, .contactform>textarea{width: 100%;
padding: 1rem;
border: none;
font-size: 14pt;
box-sizing:content-box;}

.contactform>input[type="submit"]{width: 100px;
background-color: #fbb03b;
font-family: "Indie Flower", cursive;}

.historypics>img{width:40%;
flex-wrap: wrap;}

.philtable, .contacttable{display: grid;
grid-template-columns: 1fr 2fr;
justify-content: center;
gap:.5rem;}

.philtable>img{width:125px;
display: flex;}

table{width: 100%;
border-spacing: 0 1rem;}

td:first-child{width: 25%;
background-color: white;
padding: 1rem;
text-align: center;}

td>img{width: 100%;
max-width: 400px;
display: block;}

.td2{background-color: #79AEDC;
padding: 1rem;
vertical-align: top;
width: 75%;}

.td2>h4{font-weight: 600;
margin: 0rem;
font-size: 14pt;}

.contacttable>p{background-color: #79AEDC;
padding: 1rem;}

.contacttable>h2{align-content: center;}

.shopgallery{flex-wrap: wrap;
background-color: #ffdf6a;
justify-content: space-around;}

.shopgallery>img{width:30%;
max-height: 100px;
max-width: 100px;
min-width: 100px;
min-height: 100px;
padding: .5rem;}

.options{display: flex;
justify-content: center;
flex-wrap: wrap;
gap: .2rem;}

.options>h3{background-color: #fbb03b;
color:#000000;
padding: .5rem;
font-size: 14pt;}

.options>h3:hover{background-color: #79AEDC;}

.shopgallery>img:hover{filter:brightness(20%);}

}